

.dropcaps p:first-child::first-letter {
  color: #fff;
  background-color: #FF3A65;
  float: left;
  font-size: 64px;
  font-size: 4rem;
  line-height: 1;
  margin: 10px 15px 0 0 !important;
  padding: 12px;
}


    #menu{
      background-color: #000;

    }

    #menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: #42B881;
      height: 50px;
      font-size: 20px;

    }

    #menu ul li{
      display: inline-block;
    }

    #menu ul li a{
      color: white;
      display: block;
      padding: 13px 10px;
      text-decoration: none;
    }

    #menu ul li a{
      background-color: #42B881;
      height: 50px;
      font-size: 20px;
    }

    .item-r{
      float: right;
    }

    @media (max-width: 767px) {
  .menu {
    float: none;
    margin: 0 0 5px 0;
  }
}